# GENERAL
# Puerto que usará la aplicación
PORT=3000

# DATABASE
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost

DB_DIALECT=postgres
DB_TIMEZONE=America/La_Paz

# MAIL SMTP (Opcional)
MAIL_SENDER=info@midominio.gob.bo
MAIL_HOST=smtp.midominio.gob.bo
MAIL_PORT=587
MAIL_SECURE=false
MAIL_IGNORE_TLS=false
MAIL_TLS_REJECT_UNAUTHORIZED=false

# Solo si el servidor SMTP lo requiere
MAIL_AUTH_USER=unusuario@midominio.gob.bo 
MAIL_AUTH_PASS=password 

# LOGS
# ¿Dónde guardar los logs?
# - database: Guardar en la base de datos (se usa db.js para acceder)
# - filesystem: Guardar en sistema de archivos
LOG_STORAGE=database

# Las siguientes opciones solo se toman en cuenta si LOG_STORAGE=filesystem

# directorio con los logs
LOG_OUTPUT_DIRECTORY=./logs

# nombre de archivo de logs
LOG_OUTPUT_FILENAME=logs.log

# formato de logs
LOG_FORMAT=combined

# nivel de verbosidad, posibles: error, info, warning, debug
LOG_LEVEL=info
