'use strict';

const debug = require('debug')('base-backend:logs');

const logsConfig = {
  // Donde guardar los logs?
  // - 'database': Guardar en la base de datos (se usa db.js para acceder)
  // - 'filesystem': Guardar en sistema de archivos
  storage: 'database',
  
  // Las siguientes opciones solo se toman en cuenta si storage = 'filesystem'
  // para mostrar los logs tambien en la consola
  console: process.env.NODE_ENV === 'production' ? false : true,
  // directorio con los logs
  outputDirectory: './logs',
  // nombre de archivo de logs
  outputFilename: 'logs.log',
  // formato de logs
  format: 'combined',
  // nivel de verbosidad, posibles: error, info, warning, debug
  level: 'info'
};

module.exports = logsConfig;